<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Gymterion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" id="nav-adder">
          <a class="nav-link" href="{% url 'adder' %}">Add record</a>
      </li>
      <li class="nav-item" id="nav-statistics">
          <a class="nav-link" href="{% url 'statistics' %}">Statistics</a>
      </li>
      <li class="nav-item" id="nav-log_out" >
          <a class="nav-link" href="{% url 'log_out' %}">Log out</a>
      </li>
    </ul>
  </div>
</nav>
